.left-content {
  display: flex;
  align-items: center;
  text-align: end;
}
.device-image {
  width: 1100px;
}
.small-device-image {
  width: 800px;
}
.subheading-ios {
  color: #000;
  margin-right: 10;
  display: block;
  text-align: center;
}

.android-image {
  width: 80%;
  max-width: 100%;
  height: auto;
}
.android-image-small {
  width: 90%;
  max-width: 100%;
  height: auto;
}
.ux-image {
  width: 80%;
  height: auto;
}
.web-image {
  max-width: 600px;
  height: auto;
}
.web-image-small {
  max-width: 340px;
  height: auto;
}
.desktop-image {
  max-width: 60%;
  height: auto;
}
.small-desktop-image {
  max-width: 370px;
  height: auto;
}
.paper-service {
  width: 150px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0;
}
.mockup-images {
  width: 50%;
  height: auto;
}
.case-btn {
  background-color: #179afb;
  color: white;
  margin-top: 20px;
  border-radius: 0;
}
.case-btn:hover {
  background-color: #1798fbb7;
}
.quote-btn {
  background-color: #283644;
  color: white;
  margin-top: 20px;
  border-radius: 0;
  display: flex;
  align-self: center;
}
.quote-btn:hover {
  background-color: #283644b4;
}
.lower-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 100vh;
}
