.imageCard:hover {
  z-index: 1;
  transform: scale(1.2);
  animation-name: zoom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes zoom {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
    transform: scale(1.2);
  }
}
