.background {
  background: linear-gradient(to bottom, #179afb 0%, #301e5b 100%);
  height: fit-content;
  /* border-bottom-left-radius: 40% 15%; */
  /* border-bottom-right-radius: 40% 15%; */
  box-shadow: 0px 3px 2px rgb(206, 202, 202);
  margin-bottom: 100px;
  padding-bottom: 5rem;
}

.imgDiv {
  margin-top: 25px;
}
.img {
  border-width: 1px;
  height: 15px;
  width: 8px;
  border-style: solid;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-color: #fff;
  border-radius: 4px;
  margin-right: 12px;
}
body {
  background: linear-gradient(to bottom, #dde6ee 0%, #fff 100%);
}
