.senseHeader {
  /* height:fit-content; */
  /* width:100%; */

  background: linear-gradient(120deg, #504fa5, #7f7fff);
  text-align: start;
  /* padding-bottom: 10rem; */
  overflow: visible;
}
.senseHeader > * {
  overflow: visible !important;
}
.sense-btn {
  background-color: #7f7fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px;
  margin: auto;
  cursor: pointer;
  width: 200px;
}
.sense-btn:hover {
  background-color: #7171df;
}
