.featureLightDiv{
    /* height:fit-content; */
    width:100%;
    margin:auto; 
    background-color:#FAFBFF;
    margin-top: 5vmin;
    /* padding: 3%; */
    padding-right: 0%;
    text-align: start;
    border-radius: 13px;
}

.divider{
    background-color:#175CFF;
    margin:auto;
    margin-top:40px; 
    width:74px;
    height:2px;
  }